*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color:rgb(250, 230, 245); ;
    
}
.main{
    position: relative;
    
}
.panierGene{
    position: fixed;
    font-size: 38px;
    color: white;
    padding-top: 14px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 10px;
    border-radius: 80px;
    background-color: rgb(127, 37, 73);
    bottom: 0;
    right: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 100;

}

/* .panierGene{
    position: fixed;
} */
